.filter {
	margin: 1.5em;
  &__title {
	margin-left: 0.3em;
  }
  
  &__option {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	position: relative;
	top: 0.5em;
	right: 0;
	bottom: 0;
	left: 0;
	height: 20px;
	width: 20px;
	transition: all 0.15s ease-out 0s;
	background: #cbd1d8;
	border: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	margin-right: 0.2em;
	outline: none;
	position: relative;
	z-index: 1000;
	
  }
  &__option:hover {
	background: #9faab7;
  }
  &__option:checked {
	background: #40e0d0;
  }
  &__option:checked::before {
	width: 0.75em;
	height: 0.75em;
	display:flex;
	content: '\2714';
	font-size: 1.2rem;
	font-weight:bold;
	position: absolute;
	top: 2.5px;
	left: 2.5px;
	align-items:center;
	justify-content:center;
  }
  &__option:checked::after {
	-webkit-animation: click-wave 0.65s;
	-moz-animation: click-wave 0.65s;
	animation: click-wave 0.65s;
	background: #40e0d0;
	content: '';
	display: block;
	position: relative;
	z-index: 100;
  }
  &__btn-clear {
		margin: 2em 0.5em;
		padding: 0.4em 0.8em;
		font-size: 1.3rem;
		border-radius: 0.4em;
		background-color: #40e0d0;
		color: #fff;
		
	}
	&__btn-clear:hover{
		cursor: pointer;
		margin: 1.9em 0.4em;
		animation: clear-button-hover .05s linear normal;
		border: 4px solid #eaeaea;
		background-color: #44b0a6;
		
	}
	&__btn-clear:active{
		background-color: #27877d;
		color: #606060
	}
  &__label{
	display: inline-block;
  }
}

@keyframes click-wave {
	0% {
		height: 20px;
		width: 20px;
		opacity: 0.35;
		position: relative;
	}
	100% {
		height: 80px;
		width: 80px;
		margin-left: -30px;
		margin-top: -30px;
		opacity: 0;
	}
}

@keyframes clear-button-hover {
	from {
		margin: 2em 0.5em;
		border: 0 solid #56e4d6;    
	}
	
}