$black: #040404;
$gray: #EEE;

@mixin ul-nostyle {
	list-style: none;
	padding: 0;
	margin: 0;
}

@mixin hover-style($color) {
	&:hover {
		background: lighten($color, 3%);
	}
}

@mixin animation($content) {
  animation: $content;
  -moz-animation: $content;
  -webkit-animation: $content;
}

@mixin keyframes($name) {
  @keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @-webkit-keyframes #{$name} { @content; }
}

.main-page {
	width: 100%;
    margin: 0;
    padding: 0;
	&__header {
		background-color: #000;
		color: #fff;
		display: flex;
		justify-content: space-between;
		margin: 0 0 2rem;
	}

	&__header-left {
		padding: 0 7em;
		margin: 5px 0 0;
	}
	&__header-right {
		margin: 0 7em 5px;
		
	}

	&__count {
		margin: 0 3em;
		font-size: 2rem;
		max-width: 350px;
	}

	&__container {
		display: flex;
	}
}

.pagination {
	display: flex;
	justify-content: center;
  }

.dropdown {
	width: 250px;
	
  
  & > ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
.dropdown__items {
  position: relative;
  
	label { text-decoration: none; }

	[data-toggle="dropdown"] {
		display: block;
		color: white;
		background: $black;
		
		@include hover-style($black);
		padding: 10px;
    
    &:before {
			position: absolute;
			display: block;
      		content: '\25BC';
			font-size: 0.7em;
			color: #fff;
			top: 13px;
			right: 10px;
			transform: rotate(0deg);
			transition: transform .6s;
		}
	}

	& > .dropdown__item {
		max-height: 0;
		overflow: hidden;
		@include ul-nostyle;
		transform: scaleY(0);
		transform-origin: 50% 0%;
		transition: max-height .6s ease-out;
		animation : hideAnimation .4s ease-out;

		li {
			padding: 0;

		}
	}
  
  & > input[type="checkbox"] {
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    
    &:checked ~ .dropdown__item {
      max-height: 9999px;
	  display: block;
	  transform: scaleY(1);
	  animation: showAnimation .5s ease-in-out;
	  transition: max-height 2s ease-in-out;
    }
    
    &:checked + label[data-toggle="dropdown"] {
      &:before {
        transform: rotate(-180deg);
        transition: transform .6s;
      }
    }
  }
}

@include keyframes(showAnimation) {
	0% {
		transform: scaleY(0.1);
	}
	40% {
		transform: scaleY(1.04);
	}
	60% {
		transform: scaleY(0.98);
	}
	80% {
		transform: scaleY(1.04);
	}
	100% {
		transform: scaleY(0.98);
	}				
	80% {
		transform: scaleY(1.02);
	}
	100% {
		transform: scaleY(1);
	}
}

@include keyframes(hideAnimation) {
  0% {
  	transform: scaleY(1);
  }
  60% {
  	transform: scaleY(0.98);
  }
  80% {
  	transform: scaleY(1.02);
  }
  100% {
  	transform: scaleY(0);
  }
}

@media(max-width:790px) {
	.main-page{
		&__header {
			flex-direction: column;
		}
	
		&__header-left {
			margin: 5px auto 10px;
			flex-basis: 100%;
		}
		
		&__header-right {
			margin: 0 auto;
			flex-basis: 100%;
		}
	}
}

@media(max-width: 670px){
	.main-page__count {
		font-size: 1.8rem;
		margin: 0 auto;
	}
}

@media(max-width: 405px){
	.main-page__count {
		font-size: 1.5rem;
		max-width: 260px;
	}
}

@media(max-width:395px) {
	.main-page__header {
        width: 100%;
    }
}